ol {
    background-color: yellow;
    font-weight: bold;
}

li {
    font-size: 20px;
}

li.par {
    color: green;
}

li.impar {
    text-transform: uppercase;
}

h1 {
font-size: 40px;
border: 1px solid black;
}

h1, h2, h3 {
    color: red;
}

ul li.ling {
color: rgb(0, 78, 122);
}
li.java{
background-color: rgb(253, 0, 211);
}

a:hover {
    font-weight: bold;
    color: #036b52;
}