body {
    text-align: center;
    margin: 1% 30%;
    font-size: 17px;
    background: #9ddbe4 url(bolhas.png);
    font-family: sans-serif;
}

main{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 0 30px;
    
}

a {
    text-decoration: none;
    color: #108b9e;
    padding: 10px;
}

h3 {
    padding-top: 5px;
}

table, li{
    margin:auto;
    border: 0.5px solid rgb(9, 199, 167);
    padding: 5px;
}

li {
    list-style: none;
}

hgroup {
    margin: auto;
    display: inline-flex;
}

img {
    border-radius: 5px;
}

aside {
position:fixed;
float: right;
top: 40%;
left: 70%;
}

footer{
    padding: 10px;
}