body {
  background-color: #ffffff;
  font-family: sans-serif;
}

header {
  background-color: #323433;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: -8px -8px 10px -8px;
}

.initial-text {
  font-size: 20px;
}

.logo-trybe {
  margin-bottom: -4px;
}

.text-trybe {
  color: #f0f8ff;
  font-size: x-large;
}

a {
  color: #f0f8ff;
}

.initial-text {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2%;
}

.images {
  display: flex;
  flex-wrap: wrap;
  width: 645px;
  margin-left: 25%;
}

.html, .css, .js, .react, .rtl, .redux {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.div-html, .div-css, .div-js, .div-react, .div-rtl, .div-redux {
  border-radius: 10%;
  background-color: rgb(226, 241, 235);
  box-shadow: 1px 1px 1px  rgba(0, 0, 0, 0.349);
  margin: 1%;
}

span {
  display: flex;
  justify-content: center;
  margin-top: 23px;
  margin-bottom: 8px;
}

.risk {
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.459);
border-radius: 4%;
height: 10px;
width: 200px;
margin-top: 20px;
margin-bottom: 20px;
margin-left: 42%;
background-color: rgb(226, 241, 235);
}

footer {
  margin-left: 47%;
}