body{
    background-color:#1f1f1f;
    color: #ffffff;
}

h1, p, ol, ul {
    text-align: center;
}

h3{
    color: rgb(243, 166, 0);
    margin-left: -35px;
    
}

li{
    display: inline;
    margin-right: 50px;
    background-color: #363636;
    border-radius: 10px;
    padding:1px 5px;
}

a {
    color: rgb(243, 166, 0);
    text-decoration: none;
    border-radius: 10px;
}

li:hover, a:hover {
    background-color: #d2cfcf;
    padding:0 5px;
    color: black;
}

a:active {
    font-family:Arial, sans-serif;
}

.motivos{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#292828;
    border-radius: 10px;
    padding-left: 0px;
  }

.motivosf li {
    list-style: none;
    display: list-item;
}

.motivosc li {
    list-style: none;
    display: list-item;
}

.motivosy li {
    list-style: none;
    display: list-item;
}
