* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

body {
  background-color: rgb(247, 247, 247);
}

.header-container {
  background-color: #5C687C;
  display: flex;
  border: 2px solid rgb(0, 0, 0);
}

.logo-container {
  display: flex;
  justify-content: center;
  border: 2px solid rgb(38, 0, 255);
  flex-basis: 268px;
  order: -1;
}

.menu-container {
  display: flex;
  border: 1px solid rgb(255, 0, 0);
  flex-basis: 500px;
  flex-grow: 1;
  align-self: center;
}

.menu-container ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border: 2px solid rgb(51, 255, 0);
}

.menu-container li {
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  list-style: none;
  margin-right: 10px;
  border: 1px solid yellow;
}